# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @nhakmiller @lindsey-w @wey-chiang @jacknagz @kostaspap @bseb @panther-labs/detections
schemas/* @alxarch
