repos:
  - repo: local
    hooks:
      - id: make-fmt
        name: make fmt
        entry: make fmt
        language: system
        pass_filenames: false
        stages: [pre-commit]

      - id: make-lint
        name: make lint
        entry: make lint
        language: system
        pass_filenames: false
        stages: [pre-commit]

      # - id: scrub-tests
      #   name: scrub tests
      #   entry: pipenv run python .scripts/scrub_unit_tests.py
      #   language: system
      #   pass_filenames: false
      #   stages: [pre-commit]
