[MAIN]
disable=
    missing-docstring,
    duplicate-code,
    import-error,
    fixme,
    consider-iterating-dictionary,
    global-variable-not-assigned,
    broad-exception-raised

load-plugins=
    pylint.extensions.mccabe,
    pylint_print

max-line-length=100
