[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "~=1.7"
black = "~=22.8"
click = "~=8.1"
decorator = "~=5.1"
isort = "~=5.10.0"
mypy = "~=0.950"
panther-analysis-tool = "~=0.19.6"
pylint = "~=2.15.0"
pylint-print = "~=1.0.0"

[packages]
policyuniverse = "==1.4.0.20220110"
requests = "~=2.27"

[requires]
python_version = "3.9"
