[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "==1.7.0"
black = "==21.7b0"
isort = "==5.9.3"
mypy = "==0.910"
pylint = "==2.9.6"
decorator = "==4.4.2"

[packages]
panther-analysis-tool = "*"
policyuniverse = "==1.4.0.20220110"
requests = "==2.26.0"

[requires]
python_version = "3.7"
