# functional dependencies
PyYAML==5.3
schema==0.7.1
policyuniverse==1.3.2.1
boto3==1.11.11
# ci dependencies
bandit==1.6.2
mypy==0.761
pylint==2.4.4
pyfakefs==3.7.1
yapf==0.29.0
## The following requirements were added by pip freeze:
appnope==0.1.0
arrow==0.15.4
astroid==2.3.3
attrs==19.3.0
aws-lambda-builders==0.6.0
aws-sam-cli==0.31.1
aws-sam-translator==1.15.1
awscli==1.16.286
backcall==0.1.0
beautifulsoup4==4.8.1
binaryornot==0.4.4
botocore==1.14.11
bs4==0.0.1
certifi==2019.9.11
cfn-lint==0.26.0
chardet==3.0.4
chevron==0.13.1
Click==7.0
colorama==0.4.1
contextlib2==0.5.5
cookiecutter==1.6.0
coverage==4.5.4
dateparser==0.7.2
ddt==1.2.1
decorator==4.4.1
docker==4.1.0
docker-pycreds==0.4.0
docutils==0.15.2
Flask==1.0.4
fpdf==1.7.2
future==0.18.2
gitdb==0.6.4
gitdb2==2.0.5
GitPython==2.1.12
idna==2.8
importlib-metadata==0.23
ipython==7.9.0
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10.3
jinja2-time==0.2.0
jmespath==0.9.4
jsonpatch==1.24
jsonpointer==2.0
jsonschema==3.1.1
lazy-object-proxy==1.4.1
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==7.2.0
mypy-extensions==0.4.3
nose==1.3.7
nose2==0.9.1
numpy==1.17.4
parso==0.5.1
pbr==5.4.1
pexpect==4.7.0
pickleshare==0.7.5
pipenv==2018.11.26
poyo==0.5.0
prompt-toolkit==2.0.10
ptyprocess==0.6.0
pyasn1==0.4.8
Pygments==2.4.2
pyrsistent==0.15.4
python-dateutil==2.8.0
pytz==2019.3
regex==2019.11.1
requests==2.22.0
rsa==3.4.2
s3transfer==0.3.2
serverlessrepo==0.1.9
six==1.12.0
smmap==0.9.0
smmap2==2.0.5
soupsieve==1.9.5
statistics==1.0.3.5
stevedore==1.30.1
suricata-update==1.1.0
traitlets==4.3.3
typed-ast==1.4.0
typing-extensions==3.7.4
tzlocal==2.0.0
urllib3==1.25.6
virtualenv==16.7.7
virtualenv-clone==0.5.3
wcwidth==0.1.7
websocket-client==0.56.0
Werkzeug==0.16.0
whichcraft==0.6.1
wrapt==1.11.2
zipp==0.6.0
