# Functional Dependencies
panther-analysis-tool==0.4.3
policyuniverse==1.3.2.20210111

# CI Dependencies
bandit==1.7.0
mypy==0.790
pylint==2.6.0
yapf==0.30.0
## The following requirements were added by pip freeze:
appdirs==1.4.4
astroid==2.4.2
attrs==20.3.0
aws-sam-translator==1.33.0
boto3==1.16.37
botocore==1.19.37
certifi==2020.12.5
cfn-lint==0.44.2
chardet==3.0.4
contextlib2==0.6.0.post1
decorator==4.4.2
distlib==0.3.1
filelock==3.0.12
gitdb==4.0.5
GitPython==3.1.11
idna==2.10
isort==5.6.4
jmespath==0.10.0
jsonpatch==1.28
jsonpath-ng==1.5.2
jsonpointer==2.0
jsonschema==3.2.0
junit-xml==1.9
lazy-object-proxy==1.4.3
mccabe==0.6.1
mypy-extensions==0.4.3
networkx==2.5
nose==1.3.7
pbr==5.5.1
pipenv==2020.11.15
ply==3.11
protobuf==3.14.0
PyAFF==0.1
pyfakefs==4.3.2
pyrsistent==0.17.3
python-dateutil==2.8.1
PyYAML==5.3.1
requests==2.25.1
ruamel.yaml==0.16.12
s3transfer==0.3.3
schema==0.7.3
six==1.15.0
smmap==3.0.4
stevedore==3.3.0
toml==0.10.2
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.26.2
virtualenv==20.2.2
virtualenv-clone==0.5.4
wrapt==1.12.1
