# Functional Dependencies
panther-analysis-tool==0.3.0
policyuniverse==1.3.2.2

# CI Dependencies
bandit==1.6.2
mypy==0.770
pylint==2.5.2
yapf==0.30.0
## The following requirements were added by pip freeze:
astroid==2.4.1
boto3==1.12.22
botocore==1.15.24
contextlib2==0.5.5
ddt==1.2.1
docutils==0.15.2
gitdb==0.6.4
gitdb2==2.0.5
GitPython==2.1.12
isort==4.3.21
jmespath==0.9.5
lazy-object-proxy==1.4.1
mccabe==0.6.1
mypy-extensions==0.4.3
nose==1.3.7
pbr==5.4.1
pyfakefs==4.0.2
python-dateutil==2.8.1
PyYAML==5.1.1
s3transfer==0.3.3
schema==0.7.0
six==1.12.0
smmap==0.9.0
smmap2==2.0.5
stevedore==1.30.1
toml==0.10.1
typed-ast==1.4.0
typing-extensions==3.7.4
urllib3==1.25.8
wrapt==1.11.2
