AnalysisType: policy
Filename: aws_config_global_resources.py
PolicyID: AWS.Config.GlobalResources
DisplayName: AWS Config Global Resources
Enabled: true
ResourceTypes:
  - AWS.Config.Meta
Tags:
  - AWS
  - Security Control
Severity: Low
Description: >
  You can have AWS Config record supported types of global resources, such as
  IAM users, groups, roles, and customer managed policies.
Runbook: >
  https://docs.runpanther.io/cloud-security/built-in-policy-runbooks/aws-config-is-enabled-for-global-resources
Reference: https://amzn.to/2MO8xXM
Tests:
  -
    Name: Global Resources Are Enabled
    ResourceType: AWS.Config.Meta
    ExpectedResult: true
    Resource:
      {
        "GlobalRecorderCount": 4,
        "GlobalResourcesEnabled": true
      }
  -
    Name: Global Resources Are Not Enabled
    ResourceType: AWS.Config.Meta
    ExpectedResult: false
    Resource:
      {
        "GlobalRecorderCount": 4,
        "GlobalResourcesEnabled": false
      }
