version: 2.1

commands:
  download_pantherlog_tool:
    parameters:
      version:
        type: string
        description: The version tag to download
    steps:
        - run:
            name: Download pantherlog tool
            command: curl -sSO "https://panther-community-us-east-1.s3.amazonaws.com/<<parameters.version>>/tools/dev/pantherlog-linux-amd64" && mv pantherlog-linux-amd64 pantherlog && chmod +x pantherlog

jobs:
  lint:
    docker:
      - image: 'circleci/python:3.7'
    steps:
      - checkout
      - run:
          name: "Debug build"
          command: ls -la /proc
      - run:
          name: Setup the Virtual Environment and install dependencies
          command: make venv
      - run:
          name: Run linting
          command: make lint
  unit_tests:
    docker:
      - image: 'circleci/python:3.7'
    steps:
      - checkout
      - run:
          name: Setup the Virtual Environment and install dependencies
          command: make venv
      - run:
          name: Run unit tests
          command: make test
  schema_tests:
      docker:
        - image: 'circleci/python:3.7'
      steps:
        - checkout
        - download_pantherlog_tool:
            version: v1.17.0-RC
        - run:
            name: Run schema tests
            command: ./pantherlog -v && ./pantherlog test ./schemas || true

workflows:
  version: 2
  pipeline:
    jobs:
      - lint
      - unit_tests
      - schema_tests

