version: 2

jobs:
  lint:
    docker:
      - image: 'circleci/python:3.7'
    steps:
      - checkout
      - run:
          name: Install core utilities
          command: make install
      - run:
          name: Setup the Virtual Environment
          command: make venv
      - restore_cache:
          name: Restore pip cache
          keys:
            - &pip_cache_key venv-x-{{ checksum "requirements.txt" }}
      - run:
          name: Install dependencies
          command: pipenv run -- make deps
      - save_cache:
          name: Save pip cache
          key: *pip_cache_key
          paths:
            - venv
      - run:
          name: Run linting
          command: pipenv run -- make lint
  unit_tests:
    docker:
      - image: 'circleci/python:3.7'
    steps:
      - checkout
      - run:
          name: Install core utilities
          command: make install
      - run:
          name: Setup the Virtual Environment
          command: make venv
      - restore_cache:
          name: Restore pip cache
          keys:
            - *pip_cache_key
      - run:
          name: Install dependencies
          command: pipenv run -- make deps
      - save_cache:
          name: Save pip cache
          key: *pip_cache_key
          paths:
            - venv
      - run:
          name: Run unit tests
          command: pipenv run -- make test
  schema_tests:
      docker:
        - image: 'circleci/golang'
      steps:
        - checkout
        - run:
            name: Install pantherlog binary
            command: curl -sSO https://panther-community-us-east-1.s3.amazonaws.com/v1.17.0-RC/tools/dev/pantherlog-linux-amd64 && mv pantherlog-linux-amd64 pantherlog && chmod +x pantherlog
        - run:
            name: Run schema tests
            command: ./pantherlog test ./schemas

workflows:
  version: 2
  pipeline:
    jobs:
      - lint
      - unit_tests
      - schema_tests
