version: 2

jobs:
  build:
    docker:
      - image: circleci/python:3.7.4
    steps:
        - checkout
        - run:
            name: Install core utilities
            command: make install
        - run:
            name: Setup the Virtual Environment
            command: make venv && source venv/bin/activate
        - run:
            name: Install dependencies
            command: pipenv run -- make deps
        - run:
            name: Install Panther CLI
            command: pip3 install -e .
        - run:
            name: CLI Tests
            command: make ci && make integration
        - run:
            name: Analysis Tests
            command: panther-cli test --policies analysis
