name: Check Deprecated (Internal)

on:
  pull_request:
    branches:
      - develop

permissions:
  contents: read

jobs:
  check_removed_rules:
    name: Check Removed Rules
    runs-on: ubuntu-latest
    if: github.repository == 'panther-labs/panther-analysis'

    steps:
      - name: Checkout panther-analysis
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.0

      - name: Fetch Release
        run: |
          git fetch --depth=1 origin develop

      - name: Set python version
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c #v6.0.0
        with:
          python-version: "3.11"

      - name: Install pipenv
        run: pip install pipenv

      - name: Setup venv
        run: make venv

      - name: Check for Removed Rules
        run: |
          pipenv run make check-deprecated
