name: Check Packs (Internal)

on:
  workflow_dispatch:
  pull_request:
    branches:
      - develop

permissions:
  contents: read
  pull-requests: write

jobs:
  check_packs:
    name: check packs
    runs-on: ubuntu-latest
    if: github.repository == 'panther-labs/panther-analysis'

    steps:
      - name: Checkout panther-analysis
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #v6.0.2

      - name: Set python version
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 #v6.2.0
        with:
          python-version: "3.11"

      - name: Install panther_analysis_tool
        run: pip install panther_analysis_tool

      - name: Check packs
        id: check-packs
        run: |
          # Get the output for the PR comment body
          panther_analysis_tool check-packs 2> errors.txt || true
          echo 'errors<<EOF' >> $GITHUB_OUTPUT # Use a delimiter
          cat errors.txt >> $GITHUB_OUTPUT      # Append the content
          echo 'EOF' >> $GITHUB_OUTPUT          # Close the delimiter

      - name: Check packs (Exit Code)
        run: |
          exit $(panther_analysis_tool check-packs)

      - name: Comment PR
        uses: thollander/actions-comment-pull-request@24bffb9b452ba05a4f3f77933840a6a841d1b32b #v3.0.1
        if: failure()
        with:
          mode: upsert
          message: |
            :scream:
            looks like some things could be wrong with the packs
            ```diff
            ${{ steps.check-packs.outputs.errors }}
            ```
          comment-tag: check-packs

      - name: Delete comment
        uses: thollander/actions-comment-pull-request@24bffb9b452ba05a4f3f77933840a6a841d1b32b #v3.0.1
        if: success()
        with:
          mode: delete
          comment-tag: check-packs

