name: Check Deprecated (Internal)

on:
  pull_request:
    branches:
      - develop

permissions:
  contents: read

jobs:
  check_removed_rules:
    name: Check Removed Rules
    runs-on: ubuntu-latest
    if: github.repository == 'panther-labs/panther-analysis'

    steps:
      - name: Checkout panther-analysis
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1

      - name: Fetch Release
        run: |
          git fetch --depth=1 origin develop

      - name: Set python version
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 #v6.2.0
        with:
          python-version: "3.11"

      - name: Install pipenv
        run: pip install pipenv

      - name: Setup venv
        run: make venv

      - name: Check for Removed Rules
        run: |
          pipenv run make check-deprecated
