on:
  pull_request:
    branches:
      - develop

permissions:
  contents: read

jobs:
  check_removed_rules:
    name: Check Removed Rules
    runs-on: ubuntu-latest

    steps:
      - name: Checkout panther-analysis
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2

      - name: Fetch Release
        run: |
          git fetch --depth=1 origin develop

      - name: Set python version
        uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38 #v5.4.0
        with:
          python-version: "3.11"

      - name: Install pipenv
        run: pip install pipenv

      - name: Setup venv
        run: make venv

      - name: Check for Removed Rules
        run: |
          pipenv run make check-deprecated

