on:
  pull_request:
      branches:
        - develop

permissions:
  contents: read

jobs:
  check_removed_rules:
    name: Check Removed Rules
    runs-on: ubuntu-latest

    steps:
      - uses: step-security/harden-runner@0080882f6c36860b6ba35c610c98ce87d4e2f26f # v2.10.2
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            files.pythonhosted.org:443
            github.com:443
            pypi.org:443
      - name: Checkout panther-analysis
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2

      - name: Fetch Release
        run: |
          git fetch --depth=1 origin develop

      - name: Set python version
        uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b #v5.3.0
        with:
          python-version: "3.11"

      - name: Install pipenv
        run: pip install pipenv

      - name: Setup venv
        run: make venv

      - name: Check for Removed Rules
        run: |
          pipenv run make check-deprecated

