name: Build Docker Image (Deprecated)

on:
  pull_request:
    paths:
      - "Dockerfile"

permissions:
  contents: read

jobs:
  test:
    name: Build Dockerfile
    runs-on: ubuntu-latest
    steps:
      - name: Checkout panther-analysis
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
      - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 #v3.7.0
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 #v3.11.1
      - name: Build Image
        run: docker buildx build --load -f Dockerfile -t panther-analysis:latest .
      - name: Test Image
        run: |
          docker run --rm -t panther-analysis:latest pipenv run panther_analysis_tool --version
