name: Pre-Release Upload to GA (Internal)

on:
  pull_request_review:
    types: [submitted]

permissions:
  contents: read

jobs:
  upload:
    if: github.head_ref == 'main' && github.repository == 'panther-labs/panther-analysis'
    name: Pre-Release Upload to GA
    runs-on: ubuntu-latest
    env:
      API_HOST: ${{ secrets.GA_API_HOST }}
      API_TOKEN: ${{ secrets.GA_API_TOKEN }}
    steps:
      - name: Validate Secrets
        if: ${{ env.GA_API_HOST == '' || env.GA_API_TOKEN == '' }}
        run: |
          echo "API_HOST or API_TOKEN not set"
          exit 0

      - name: Checkout panther-analysis
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1

      - name: Set python version
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 #v6.1.0
        with:
          python-version: "3.11"

      - name: Install pipenv
        run: pip install pipenv

      - name: Setup venv
        run: make venv

      - name: upload
        run: |
          pipenv run panther_analysis_tool upload --api-host ${{ env.GA_API_HOST }} --api-token ${{ env.GA_API_TOKEN }}
