name: Pre-Release Upload to GA (Internal)

on:
  pull_request_review:
    types: [submitted]

permissions:
  contents: read

jobs:
  upload:
    if: github.head_ref == 'main' && github.repository == 'panther-labs/panther-analysis'
    name: Pre-Release Upload to GA
    runs-on: ubuntu-latest
    env:
      API_HOST: ${{ secrets.GA_API_HOST }}
      API_TOKEN: ${{ secrets.GA_API_TOKEN }}
    steps:
      - name: Validate Secrets
        if: ${{ env.GA_API_HOST == '' || env.GA_API_TOKEN == '' }}
        run: |
          echo "API_HOST or API_TOKEN not set"
          exit 0

      - name: Checkout panther-analysis
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #v6.0.2

      - name: Set python version
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 #v6.2.0
        with:
          python-version: "3.11"

      - name: Install pipenv
        run: pip install pipenv

      - name: Setup venv
        run: make venv

      - name: upload
        run: |
          pipenv run panther_analysis_tool upload --api-host ${{ env.GA_API_HOST }} --api-token ${{ env.GA_API_TOKEN }}
