name: Test

on:
  pull_request:
  merge_group:

permissions:
  contents: read

jobs:
  test:
    if: github.event.pull_request.head.repo.fork == true
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout panther-analysis
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #v6.0.2

      - name: Set python version
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 #v6.2.0
        with:
          python-version: "3.11"

      - name: Install pipenv
        run: pip install pipenv

      - name: Setup venv
        run: make venv

      - name: test
        run: |
          make data-models-unit-test global-helpers-unit-test
          pipenv run panther_analysis_tool test --show-failures-only

  test-authenticated:
    if: github.event.pull_request.head.repo.fork == false
    name: Test
    runs-on: ubuntu-latest
    env:
      API_HOST: ${{ secrets.API_HOST }}
      API_TOKEN: ${{ secrets.API_TOKEN }}
    steps:
      - name: Validate Secrets
        if: ${{ env.API_HOST == '' || env.API_TOKEN == '' }}
        run: |
          echo "API_HOST or API_TOKEN not set"
          exit 0
          
      - name: Checkout panther-analysis
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #v6.0.2

      - name: Set python version
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 #v6.2.0
        with:
          python-version: "3.11"

      - name: Install pipenv
        run: pip install pipenv

      - name: Setup venv
        run: make venv

      - name: test
        run: |
          pipenv run panther_analysis_tool test --api-host ${{ env.API_HOST }} --api-token ${{ env.API_TOKEN }} --show-failures-only

  test-generate-versions:
    if: github.event.pull_request.head.repo.fork == false
    name: Test Generate Versions Script
    runs-on: ubuntu-latest
    steps:
      - name: Checkout panther-analysis
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #v6.0.2

      - name: Set python version
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 #v6.2.0
        with:
          python-version: "3.11"

      - name: Install pipenv
        run: pip install pipenv

      - name: Setup venv
        run: make venv

      - name: test
        run: |
          make test-generate-versions