on: 
  pull_request_target:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout panther-analysis
        uses: actions/checkout@v4

      - name: Set python version  
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
        
      - name: Install pipenv
        run: pip install pipenv
      
      - name: Install
        run: make install
      
      - name: Setup venv
        run: make venv

      - name: test
        run: |
          pipenv run panther_analysis_tool test --api-host ${{ secrets.API_HOST }} --api-token ${{ secrets.API_TOKEN }}
